/* stylelint-disable color-no-hex */
.logo-wrapper {
    padding: 3px 0;
    margin: 0;
    margin-top: -20px;
}

@media screen and (max-width: 992px) {
    .logo-wrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block !important;
        padding-top: 0px;
    }
}

.section-md {
    padding: 30px 0;
}

.section-lg {
    padding: 80px 0;
}

.section-title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 0px;
}

.coin-section {
    border-top: 3px solid #e98024;
    border-bottom: 3px solid #e98024;
}

.home--header {
    width: 100%;
    background: linear-gradient(rgba(42, 48, 82, 0.6), rgba(42, 48, 82, 0.1)), url('../images/header-image_edited-sm.jpg') no-repeat;
    background-size: cover;
    padding: 20px;
    background-position: center;
    min-height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 48px;
    line-height: 60px;
}

.header-sub {
    display: block;
    margin: 0px 0;
    font-size: 36px;
    font-weight: 300;
}

.earn-interest {
    width: 800px;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .md-center {
        text-align: center !important;
    }
    .home--header {
        min-height: 50vh;
    }
}

@media screen and (max-width: 992px) {
    .mb-bottom-30 {
        margin-bottom: 50px;
    }
    .header-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }
    .lg-center {
        text-align: center !important;
    }
}

.usb-coin {
    width: 150px;
    max-width: 100%;
}

.separator-line-thin-gray-xs {
    height: 1px;
    background-color: #dedede;
    margin: 0;
}

.separator-line-thin-gray {
    height: 1px;
    background-color: #dedede;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
}

.separator-md {
    height: 20px;
}

.separator-lg {
    height: 30px;
}

.separator-xl {
    height: 50px;
}

.bottom-white-border {
    border-bottom: 1px solid #ffffff;
}

.right-white-border {
    border-right: 1px solid #ffffff;
}

.icon-xs {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-md {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    max-width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-lg {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    max-width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-xl {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    max-width: 150%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-buy {
    background: url('../svg/buy.svg') no-repeat;
    background-position: center;
}

.icon-trade {
    background: url('../svg/trade.svg') no-repeat;
    background-position: center;
}

.icon-clients {
    background: url('../svg/clients.svg') no-repeat;
    background-position: center;
}

.icon-contract {
    background: url('../svg/contract.svg') no-repeat;
    background-position: center;
}

.icon-crypto-traders {
    background: url('../svg/crypto-traders.svg') no-repeat;
    background-position: center;
}

.icon-hold {
    background: url('../svg/hold.svg') no-repeat;
    background-position: center;
}

.icon-online-business {
    background: url('../svg/online-business.svg') no-repeat;
    background-position: center;
}

.icon-peaceofmind {
    background: url('../svg/peaceofmind.svg') no-repeat;
    background-position: center;
}

.icon-redeem {
    background: url('../svg/redeem.svg') no-repeat;
    background-position: center;
}

.icon-redeem-usd {
    background: url('../svg/redeem-usd.svg') no-repeat;
    background-position: center;
}

.icon-source-code {
    background: url('../svg/source-code.svg') no-repeat;
    background-position: center;
}

.icon-supply {
    background: url('../svg/supply.svg') no-repeat;
    background-position: center;
}

.s-box {
    background-color: #eeeeee;
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid #c2c2c2;
    cursor: pointer;
}

/* Clock */

#container {
    display: block;
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 200px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 10px solid #2a3052;
}

.box {
    display: block;
    position: absolute;
    height: 70px;
    width: 10px;
    background-color: #c80000;
    border-radius: 10px;
}

.cond {
    height: 70px;
    width: 2px;
    background-color: #2a3052;
}

.minute {
    height: 70px;
    width: 5px;
    background-color: #2a3052;
}

.hour {
    height: 55px;
    width: 5px;
    background-color: #2a3052;
}

/* SVG */

.window {
    fill: #e98024;
    stroke: #e98024;
}

/* Video Embed */

.video-container {
    width: 100%;
    height: 0px;
    position: relative;
    padding-bottom: 56.19%;
    //box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.03), 0 3px 28px 0 rgba(0, 0, 0, 0.3);
}

.video-container iframe, .video-container object, .video-container embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Modifiers */

.title-xl {
    font-size: 36px;
}

.ft-100 {
    font-weight: 100;
}

.ft-300 {
    font-weight: 300;
}

.ft-400 {
    font-weight: 400;
}

.table-col {
    border-bottom: 3px solid #f2f2f2;
}

.bottom--30 {
    margin-bottom: -30px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.dark-grey-bg {
    background: #eaeaea;
}
/* stylelint-enable color-no-hex */